@use "./variables.scss" as *;

// put your custom CSS here!
a.internal.tag-link {
  background-color: transparent !important;
  border: none !important;
  padding: 0 !important;
  color: var(--secondary) !important;
  font-weight: 500;
}

a.internal.tag-link:hover {
  color: var(--tertiary) !important;
  text-decoration: underline;
}